<mat-card>
  <h1>Create Post.</h1>
  <mat-form-field>
    <label for="post-create-title">Post Title</label>
    <input
      matInput
      type="text"
      name="post-create-title"
      [(ngModel)]="postTitle"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="post-create-content">Post Content</label>
    <textarea
      matInput
      name="post-create-content"
      cols="30"
      rows="5"
      [(ngModel)]="postContent"
    ></textarea>
  </mat-form-field>
  <button color="primary" mat-raised-button (click)="onSavePost()">
    Save Post
  </button>
</mat-card>

<!-- <mat-card>
  <h1>The Post.</h1>
  <p>{{ post }}</p>
</mat-card> -->
