<mat-card>
  <h1>Create Post.</h1>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <label for="postTitle">Post Title</label>
      <input
        matInput
        type="text"
        name="postTitle"
        ngModel
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label for="postContent">Post Content</label>
      <textarea
        matInput
        name="postContent"
        cols="30"
        rows="5"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter post content</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">
      Save Post
    </button>
  </form>
</mat-card>

<!-- <mat-card>
  <h1>The Post.</h1>
  <p>{{ post }}</p>
</mat-card> -->
