@import '../../../assets/styles/global-vars.scss';

:host {
  mat-form-field {
    display: block;
    margin: 0.5em 0;
  }

  label {
    vertical-align: top;
    clear: both;
    width: 100%;
  }

  textarea {
    width: 100%;
    clear: both;
    margin: 1rem 0;
  }

  button {
    max-width: 320px;
    height: 44px;
    margin: 0.5rem;
  }

  mat-error {
    margin: 0.5rem;
  }
}
