@import '../../../assets/styles/global-vars.scss';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  & > div {
    max-width: 500px;
    min-width: 500px;
  }
}

label {
  vertical-align: top;
  clear: both;
  width: 100%;
}

textarea {
  width: 100%;
  clear: both;
  margin: 1rem 0;
}

button {
  max-width: 320px;
  height: 44px;
}
